body {
    background-color: lightblue;
    font-family: sans-serif;
}

footer {
    position: fixed;             /* Фиксируем футер */
    bottom: 0;                   /* Прижимаем к низу */
    left: 0;                     /* Прижимаем к левому краю */
    width: 100%;                 /* Занимает всю ширину */
    background-color: #f0f0f0;    /* Цвет фона футера */
    padding: 20px;                /* Отступы внутри футера */
    text-align: center;           /* Выравнивание текста по центру */
}

