<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link th:href="@{/css/about.css}" rel="stylesheet">
</head>
<body>
<p>“Наша история началась в [год] с простой идеи: [опишите основную идею или проблему, которую вы решаете]. Основатели компании, [имена основателей], столкнулись с [опишите личную проблему или ситуацию, которая вдохновила на создание компании].<br>

    С тех пор многое изменилось. Мы выросли из [опишите начальное состояние компании, например, “маленького гаража”] в [опишите текущее состояние компании, например, “команду профессионалов, работающих по всему миру”]. Но наша основная цель осталась неизменной: [повторите или немного перефразируйте основную идею компании].<br>

    Мы верим в [перечислите основные ценности компании, например, “качество, инновации, честность”]. Именно эти ценности лежат в основе всего, что мы делаем, от разработки наших продуктов до общения с нашими клиентами.<br>

    Мы гордимся тем, что [опишите достижения компании, например, “помогаем тысячам людей каждый день”, “создаем инновационные решения”, “делаем мир лучше”]. И мы с нетерпением ждем возможности продолжать расти и развиваться вместе с вами!”</p>
<footer>© 2025 Мой Сайт</footer>
</body>
</html>