<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <title>Test Page</title>
    <link th:href="@{/css/blog.css}" rel="stylesheet">
</head>
<body>
<div>
    <h1>Добавление статьи</h1>
    <form action="/blog/add" method="post">
        <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}"/>
        <input type="text" name="title" placeholder="Введите название статьи">
        <input type="text" name="anons" placeholder="Введите анонс статьи">
        <input type="text" name="text" placeholder="Введите текст статьи">
        <button type="submit">Добавить статью</button>
    </form>
</div>
<footer><p>© 2025 Мой Сайт</p></footer>
</body>
</html>