<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <title>Test Page</title>
    <link th:href="@{/css/main.css}" rel="stylesheet">
</head>
<body>
<header class="container">
    <div>
        <a href="/">
            <img th:src="@{/css/img/b.jpg}" width="50" height="50">
        </a>
        <nav>
            <ul>
                <li><a class="button" href="/blog">Блог</a></li>
                <li><a class="button" href="/about">О нас</a></li>
                <li><a class="button" href="/reg">Регистрация</a></li>
                <li><form th:action="@{/logout}" method="post">
                    <input type="submit" value="Sign Out"/>
                </form></li>
            </ul>
    </div>

</header>
<h1>АОАШАОАЩАГАГПАА АЛОАО  ША Шзэ</h1>
<div class="main-text">
    <p>
        Забудьте все, что вы думаете, что знаете о минималистичном образе жизни. Речь идет не о белых стенах и владении только тремя вещами. Речь идет о намеренном создании жизни, в которой приоритет отдается опыту, а не вещам, свободе, а не беспорядку, и искренним связям, а не мимолетным трендам. Приготовьтесь бросить вызов своим предположениям и заново открыть радость меньшего.
    </p>
    <p>
        Забудьте все, что вы думаете, что знаете о минималистичном образе жизни. Речь идет не о белых стенах и владении только тремя вещами. Речь идет о намеренном создании жизни, в которой приоритет отдается опыту, а не вещам, свободе, а не беспорядку, и искренним связям, а не мимолетным трендам. Приготовьтесь бросить вызов своим предположениям и заново открыть радость меньшего.
    </p>
</div>
<div th:each="el : ${posts}">
    <h3 th:text="${el.title}"/>
    <p th:text="${el.author}"/>
    <p th:text="${el.anons}"/>
    <a href="'/' + ${el.id}">Детальнее</a>
</div>
<footer><p>© 2023 Мой Сайт</p></footer>
</body>
</html>