<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org">
<head>
    <title>Spring Security Example </title>
</head>
<body>
<div th:if="${param.error}">
    Invalid username and password.
</div>
<div th:if="${param.logout}">
    You have been logged out.
</div>
<form th:action="@{/reg}" th:object="${user}" method="post">
    <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}"/>
    <div><label> User Name : <input type="text" th:field="*{login}"/></label></div>
    <div><label> Password: <input type="password" th:field="*{psw}"/> </label></div>
    <div><input type="submit" value="Sign Up"/></div>
</form>
</body>
</html>